.table-header {
  
    color: white;
    padding: 0 5px;
    height: 50px;
}

.table-container {
    padding: 15px 15px 15px 15px;
}
.table-component-holder {
    border: 1px solid #327ebd;
    background-color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .Gift{
      width: 27vw;
  }

  .buttonGreen {background-color: #4CAF50;} 

  
  .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

// .mat-card {
//     width: calc(100% - 300px);
//   height: calc(100% - 70px);
//   }
