

.textbody{
  color: red !important;
  text-align: center;
 }
 
 .mat-toolbar{
  display: flex;
  color: white !important;
  font-size: 18px !important;
 
 }

.iconsize{
 font-size: 48px !important;
 width: 40%;
 height: 60%;

}

.table-header {
  color: white;
  // padding: 0 5px;
  height: 100%;
}


  




